@import "../../variables.scss";

.sponsor {
	margin: 32px 0px;

	.logo {
		padding: 9px 64px;

		> div {
			width: 300px;
			height: 120px;
			background-size: contain;
			background-position: top center;
			background-repeat: no-repeat;
		}
	}

	h3 {
		width: 300px;
		background-color: black;
		color: #fff;
		padding: 9px 12px;
		margin: 0px 0px 16px 0px;
	}

	@media screen and (max-width: $breakpoint-medium) {
		&.row {
			flex-direction: column;
		}
	}

	@media screen and (max-width: $breakpoint-small) {
		.logo {
			padding: 9px 0px;
		}
	}
}
