@import '../../variables.scss';

.button {
	position: relative;
	background-color: #fff;
	padding: 0px;
	border: none;
	cursor: pointer;

	&.raised {
		background-color: #ddd;
	}

	&:hover {
		> .inner {
			color: #fff;

			.arrow-line, .arrow-head {
				border-color: #fff;
			}
		}

		> .hover {
			height: 100%;
		}
	}

	> .hover, > .inner, > .inner .arrow-line, > .inner .arrow-head {
		transition: .5s ease;
	}

	> .hover {
		position: absolute;
		top: 0px;
		left: 0px;
		right: 0px;
		height: 0%;
		background-color: #000;
	}

	> .inner {
		position: relative;
		font-family: Source Code Pro, 'Courier New', Courier, monospace;
		font-weight: bold;
		font-size: 24px;
		color: #000;
		padding: 24px 24px 24px 64px;
		transition: 1s ease;
	}

	.arrow-line {
		margin-left: 24px;
	}

	@media screen and (max-width: $breakpoint-small) {
		> .inner {
			padding-left: 48px;
		}

		.arrow-line {
			display: none;
		}

		.arrow-head {
			margin-left: 16px;
		}
	}

	&.large {
		> .inner {
			font-size: 36px;
		}
	}
}
