//- about page
//- created by Soumya on 30-08-2016

extends layouts/banner-content.pug
include ./quickLinks.pug

block head
    title About - DUCompSoc

block title
    object(data="../img/about-banner-text-bg.svg" type="image/svg+xml")
    link(href="/aboutStyle.css" rel="stylesheet")

block content
    div.row
        .container
            div.col-md-6
                p#information.
                    CompSoc is Durham University’s Computing Society. It is run entirely by students and serves to promote
                    programming, development and general computing. We are a community of passionate problem solvers who
                    come together to run weekly meetings, workshops and hackathons throughout the year. No matter if
                    you're a novice or expert, come down to see what we have to offer! <br/><br/>
                    Browse around the site to find out more!

                //images carousel (next to the description)

            div.col-md-6
                #carousel-images.carousel.slide(data-ride=carousel)
                    ol.carousel-indicators
                        li.active(data-target="#carousel-images" data-slide-to="0")
                        li(data-target="#carousel-images" data-slide-to="1")
                        li(data-target="#carousel-images" data-slide-to="2")
                        li(data-target="#carousel-images" data-slide-to="3")

                    div.carousel-inner(role="listbox")
                        div.item.active
                            img(src="./img/Group_pic.jpg" alt="img1" width="555" height="345")
                        div.item
                            img(src="./img/sl.jpg" alt="img2" width="555" height="345")
                        div.item
                            img(src="./img/BPST.jpg" alt="img3" width="555" height="345")
                        div.item
                            img(src="./img/Durhack3.jpg" alt="img4" width="555" height="345")

                        //left and right controls

                    a.left.carousel-control(href="#carousel-images" role="button" data-slide="prev")
                        span.glyphicon.glyphicon-chevron-left(aria-hidden="true")
                        span.sr-only Previous
                    a.right.carousel-control(href="#carousel-images" role="button" data-slide="next")
                        span.glyphicon.glyphicon-chevron-right(aria-hidden="true")
                        span.sr-only Next
    div.row
        +quickLinks
