//- Created by Soumya on 17-08-2017
extends templates/standard.pug

block head
    title Sponsors - DU CompSoc
    link(href="/sponsorsStyle.css" rel="stylesheet")

block title
    h1 Blog
    p Read posts from our sponsors and partners, or some interesting story from CompSoc

block content
    //- blog posts
