//- Created by Soumya on 17-08-2017

extends layouts/banner-content.pug
include ./pageBanner.pug

block append head
    title Blog &raquo; Durham CompSoc
    link(href="/aboutStyle.css" rel="stylesheet")

//- The main title and banner with icons
block title
    +pageBanner('Blog', 'Stories from Partners and Us')

block content
    //- blog posts
