//- Created by Soumya on 01-09-2016
extends templates/standard.pug

block head
    title Contact Us - DUCompSoc

block title
    h1 Say Hi To Us!
    p
    p Like Us? Have any valuable suggestions? We're all ears!

block content
    //- row contains four columns, each with a description
    div.row
        div.col-md-6
            h2 We're social !
            div.row
                div.col-md-3
                    p <a href = "https://www.facebook.com/DurhamCompsoc/?fref=ts"><i class="fa fa-facebook-official fa-5x" aria-hidden="true"></i></a>
                div.col-md-3
                    p <a href = "http://twitter.com/ducompsoc/"><i class="fa fa-twitter fa-5x" aria-hidden="true"></i></a>
            div.row
                div.col-md-3
                    p <a href = "https://ducompsoc.slack.com/"><i class="fa fa-slack fa-5x" aria-hidden="true"></i></a>
                div.col-md-3
                    p <a href = "https://linkedin.com/company/ducompsoc"><i class="fa fa-linkedin-square fa-5x" aria-hidden="true"></i></a>
        div.col-md-6
            h2 Drop Us a Message
            p Leave your queries/comments/feedback/suggestions below.
            form.form-group
                input.form-control(type="text" placeholder="Name")
                input.form-control(type="text" placeholder="Email")
                input.form-control(type="text" placeholder="Message")
                button.btn.btn-success(type="submit") Submit
