//- Created by Soumya on 01-09-2016

extends templates/standard.pug

block head
    title Contact Us - DUCompSoc

block title
    h1 Say Hi To Us!
    p 
    p Like Us? Have any valuable suggestions? We're all ears!

block content
    //- row contains four columns, each with a description
    div.row    
        div.col-md-4
            h2 Drop us a mail
            p computing.society@durham.ac.uk
        div.col-md-4
            h2 We're social !
            p Like us on <a href = "https://www.facebook.com/DurhamCompsoc/?fref=ts">Facebook </a>
            p Follow Us on <a href = "http://twitter.com/ducompsoc/">Twitter </a>
        div.col-md-4
            h2 We value your opinion
            p Leave your comments/feedback/suggestions below.
            form.form-group
                input.form-control(type="text" placeholder="Name")
                input.form-control(type="text" placeholder="Comments")
                button.btn.btn-success(type="submit") Submit
