//- Created by Soumya on 17-08-2017
extends layouts/banner-content.pug
include ./pageBanner.pug

block append head
    title DurHack - DUCompSoc
    link(href="/aboutStyle.css" rel="stylesheet")


//- The main title and banner with icons
block title
    +pageBanner('DurHack', '24-hour inter-uni hackathon')


block content
