extends layouts/banner-content.pug
include ./pageBanner.pug

block append head
    title Events &raquo; Durham CompSoc
    link(href="/events.css" rel="stylesheet")
    script(defer src="https://embed.typeform.com/embed.js")
    script(defer src="/js/typeform.js")
    script(defer src="/js/load_events.js")

block title
    +pageBanner("Events", "Check out our past and future events")

block content
    .container


        .col-md-12
            p.information
                | CompSoc holds events all year round, from hackathons to tech-talks to weekly meetings. Come along and
                | learn something new, meet new people and build some awesome stuff.
            p.information
                | <button type="button" class="sign-up-link btn-link">Sign up to our mailing list</button> to be the
                | first to hear about upcoming events!
            p.information Take a look at past and future events:


        .col-md-6
            h2 What's Next?
            p.information Mark your calendars for these upcoming events!
            
            .row.loading-gif
                img.loading(src="./img/loading.gif")
            
            #upcoming_events.hidden
                // Will be filled by load_events.js

            p.stay-tuned-text Stay tuned for more events!

        .col-md-6

            h2 What We've Done!
            p.information Here's all the events we've conducted in the past.
            
            .row.loading-gif
                img.loading(src="./img/loading.gif")
            
            #past_events.hidden
                // Will be filled by load_events.js
                
    #sponsor-us-msg.container
        p Interested in running an event with us? #[a(href="/contact") Get in touch].
