//-
   Created by Alistair on 28/08/2016.

extends templates/marginals.pug
include ./quickLinks.pug

block head
    title Homepage - DU CompSoc
    link(href="/homepageStyle.css" rel="stylesheet")

block content
    .wrapper
        //- Main jumbotron for a primary marketing message or call to action
        .banner-container
            object.banner(data="../img/newiconbanner1.svg" type="image/svg+xml")

        .jumbotron.banner-jumbotron
            .panel.panel-default#main-info
                .panel-body
                    h2#main-title Do you love technology? Programming? Or just want to learn something new?
                    h3 CompSoc runs talks, hackathons and workshops for its members throughout the year.
                    h3 Join today to be notified of upcoming events.
                    //- Dirty dirty hack
                    h3.hiredGradButton
                        a.btn.btn-success(href="#hiredGradSignUpModal" data-toggle="modal" role="button") Join Now!

        +quickLinks

        #hiredgrad-signup

block scripts
    script(src="/js/index.js")

    //- HiredGrad
    script(src="http://hiredgrad.com/rest/resources/society/js/57e3b53ce4b0db35d5037a80/branded")
