extends templates/marginals.pug
include ./quickLinks.pug

block head
    title Homepage &raquo; Durham CompSoc
    link(href="/homepageStyle.css" rel="stylesheet")
    script(defer src="https://embed.typeform.com/embed.js")
    script(defer src="/js/typeform.js")

block content
    .wrapper
        //- Main jumbotron for a primary marketing message or call to action
        .banner-container
            object.mobile-banner(data="../img/mobile-banner-o.svg" type="image/svg+xml")
            object.desktop-banner(data="../img/homepage-banner-o.svg" type="image/svg+xml")

        .jumbotron.banner-jumbotron
            .panel.panel-default.main-info-panel
              .panel-body.main-info-panel-body
                    h2 Do you love technology? Programming? Or just want to learn something new?
                    h3 CompSoc runs talks, hackathons and workshops for Durham students throughout the year.
                    h3 Join today to be notified of upcoming events.
                    button(class="typeformButton button btn btn-success sign-up-link") Join Now!

        +quickLinks
