//-
    Created by Alistair on 30/08/2017.
    Creates the main title and banner with icons on all pages bar the homepage

mixin pageBanner(title, subtitle)
    link(href="/pageBanner.css" rel="stylesheet")
    .banner-left
        object.banner(data="../img/about-banner-left.svg" type="image/svg+xml")
    .jumbotron.page-title-jumbotron
        h1= title
        h2= subtitle
        .link-icons
            object(data="../img/Teal-Icons/facebook-square.svg" type="image/svg+xml")
            object(data="../img/Teal-Icons/envelope-square.svg" type="image/svg+xml")
            object(data="../img/Teal-Icons/calendar.svg" type="image/svg+xml")
            object(data="../img/Teal-Icons/slack.svg" type="image/svg+xml")
            object(data="../img/Teal-Icons/github-square.svg" type="image/svg+xml")
    .banner-right
        object.banner(data="../img/about-banner-right.svg" type="image/svg+xml")