//- Created by Soumya on 01-09-2016

extends templates/base.pug

block title
    title Sponsors - DUCompSoc

block head
    h1 Our Sponsors
    p Here's a big thank you to all who help us grow :)

block body
    //- contains pictures of our sponsors which act as links to their official websites.
    div.row
        h2 Meet our sponsors
        //add another row with appropriate number of columns acc to number of sponsors
        //images of sponsors act as links to their websites
