extends layouts/banner-content.pug
include ./pageBanner.pug

block append head
    title Sponsors - Durham CompSoc
    link(href="/sponsorsStyle.css" rel="stylesheet")

block title
    +pageBanner("Sponsors", "Thank you to all who help us grow")

block content
    //- contains pictures of our sponsors which act as links to their official websites.
    div.row
        .container
            div.panel-group
                div.panel.panel-default
                    div.panel-heading
                        h3
                            a(data-toggle="collapse" href="#sp18-19") 2018/19
                    #sp18-19.panel-collapse.collapse.in
                        div.panel-body
                            .row.sponsor-row
                                .col-md-6
                                    a(href="https://www.scottlogic.com/careers/")
                                        img.sponsor-img(src="./img/sponsors/scott-logic.jpg")
                                    p
                                        | At <b>Scott Logic</b>, we design and build software that transforms the performance of some of the world’s
                                        | biggest and most demanding organisations, and we're always on the look out for talented individuals
                                        | to join our team. Our #[a(href="https://www.scottlogic.com/careers/graduates-programme/") Graduate Programme]
                                        | is a great way to kickstart your technology career. You’ll
                                        | learn new skills, work on a diverse set of internal and client projects, and figure out what makes a
                                        | globally successful software team tick.

                                .col-md-6
                                    a(href="https://www.arista.com/en/careers")
                                        img.sponsor-img(src="./img/sponsors/arista.svg")
                                    p
                                        | <b>Arista Networks</b> was founded to pioneer and deliver software-driven cloud networking solutions for large
                                        | data center storage and computing environments.



                            .row.sponsor-row
                                .col-md-6
                                    a(href="https://bedegaming.com/careers")
                                        img.sponsor-img(src="./img/sponsors/bede.png")
                                    p
                                        | <b>Bede Gaming</b> is a leading supplier of software to the online gambling industry. We offer world class
                                        | platforms to gaming and betting operators, powering some of the market’s biggest brands and processing hundreds
                                        | of millions of transactions per month. Bede provides innovative solutions to achieve digital ambitions. Built
                                        | on a single-code base and API-led, means that our products act as the enabler to operators&rsquo; online objectives.
                                        | Easily integrated with any 3<sup>rd</sup> party supplier, Bede gives back choice and flexibility to customers.

                                .col-md-6
                                    a(href="https://tpptop50.com/")
                                        img.sponsor-img(src="./img/sponsors/tpp.svg")
                                    p
                                        | <b>TPP</b> is a cutting-edge software company based in Leeds. We're revolutionising healthcare across
                                        | the world with our pioneering research and technology solutions. We're doing some amazing things
                                        | here at TPP and we have some really exciting projects coming up. That's why we're looking for
                                        | super-intelligent, geeky graduates for a number of vacancies, including our software developer
                                        | and analyst roles. We don't require any previous experience at all and we offer amazing starting
                                        | salaries of £40,000 with generous pay rises.



                            .row.sponsor-row
                                .col-md-6
                                    a(href="https://www.starleaf.com/about-us/careers")
                                        img.sponsor-img(src="./img/sponsors/starleaf.png")
                                    p
                                        | Founded in the UK in 2008, <b>StarLeaf</b> has a global footprint with representation on every continent and offices
                                        | across the world. They are on a mission to transform the way businesses communicate and collaborate by designing
                                        | intuitive messaging, premium meeting and calling solutions.
                                    p
                                        | In September, the company was named in the Gartner 2018 Magic Quadrant for Meeting Solutions and one of the fastest
                                        | growing tech companies in the UK by The Sunday Times Hiscox Tech Track 100.
                                    p
                                        | StarLeaf's culture is built on collaboration, inclusion, creativity and support. This permeates everything they do,
                                        | across all their teams and operations. They believe everyone at StarLeaf has a part to play in their success and that
                                        | everyone should be rewarded for their contribution. This is why every single StarLeaf employee becomes a shareholder
                                        | through the company’s share option scheme.



            div.panel-group
                div.panel.panel-default
                    div.panel-heading
                        h3
                            a(data-toggle="collapse" href="#sp17-18") 2017/18
                    #sp17-18.panel-collapse.collapse
                        div.panel-body
                            .row.sponsor-row
                                .col-md-6
                                    a(href="https://www.scottlogic.com/careers/")
                                        img.sponsor-img(src="./img/sponsors/scott-logic.jpg")
                                    p
                                        | At <b>Scott Logic</b>, we design and build software that transforms the performance of some of the world’s
                                        | biggest and most demanding organisations, and we're always on the look out for talented individuals
                                        | to join our team. Our #[a(href="https://www.scottlogic.com/careers/graduates-programme/") Graduate Programme]
                                        | is a great way to kickstart your technology career. You’ll
                                        | learn new skills, work on a diverse set of internal and client projects, and figure out what makes a
                                        | globally successful software team tick.

                                .col-md-6
                                    a(href="https://tpptop50.com/")
                                        img.sponsor-img(src="./img/sponsors/tpp.svg")
                                    p
                                        | <b>TPP</b> is a cutting-edge software company based in Leeds. We're revolutionising healthcare across
                                        | the world with our pioneering research and technology solutions. We're doing some amazing things
                                        | here at TPP and we have some really exciting projects coming up. That's why we're looking for
                                        | super-intelligent, geeky graduates for a number of vacancies, including our software developer
                                        | and analyst roles. We don't require any previous experience at all and we offer amazing starting
                                        | salaries of £40,000 with generous pay rises.



                            .row.sponsor-row
                                .col-md-6
                                    a(href="http://schroders.com/")
                                        img.sponsor-img(src="./img/sponsors/schroders-c.png")
                                    p
                                        | For over two centuries and more than seven generations <b>Schroders</b> have grown and
                                        | developed our expertise in tandem with our clients' needs and interests.

                                .col-md-6
                                    a(href="https://careers.blackrock.com/campusrecruitment")
                                        img.sponsor-img(src="./img/sponsors/blackrock-c.jpg")
                                    p
                                        | <b>BlackRock</b> combines the best of being a technology pioneer and financial leader.
                                        | Since our inception in 1988, we’ve grown from an entrepreneurial start-up into the world’s
                                        | largest investment manager by putting technology - and continuous innovation - at the heart of
                                        | our business.
                                        | Today, as the world’s largest asset manager, with more than $5.7 trillion under management,
                                        | BlackRock brings together financial leadership and state-of-the-art technology to provide
                                        | answers to millions of investors who entrust their financial futures to us.



                            .row.sponsor-row
                                .col-md-6
                                    a(href="https://get.tech/")
                                        img.sponsor-img(src="./img/sponsors/radix-c.png")
                                    p
                                        | Since its launch 2 years ago, <b>.TECH Domains</b> has become the de facto domain extension
                                        | for programmers, startups, tech brands and enthusiasts. With over 250,000 registrations, .TECH
                                        | has seen a rapid adoption globally, including brands like Viacom.tech, TNW.tech and CES.tech.
                                        | .TECH has been a constant promoter of the developer and student community, including supporting
                                        | coding schools, university clubs, college fests as well as over 200 hackathons worldwide.
                                .col-md-6
                                    a(href="http://www.jensonsolutions.com/")
                                        img.sponsor-img(src="./img/sponsors/jenson-c.png")
                                    p
                                        | <b>Jenson</b> are an experienced team of finance professionals providing a variety of services
                                        | to a number of clients, ranging in size from start-ups through to fully listed companies quoted
                                        | on the London Stock Exchange and NASDAQ.
                                        | Our team of professionals has a wealth of experience across a number of sectors, enabling us to
                                        | provide an efficient service and bring relevant experience to most organisations to support
                                        | their strategic requirements.
                                        | We also work closely with a group of private investors who often supply equity and debt funding
                                        | to our clients.

            div.panel-group
                div.panel.panel-default
                    div.panel-heading
                        h3
                            a(data-toggle="collapse" href="#sp16-17") 2016/17
                    #sp16-17.panel-collapse.collapse
                        div.panel-body
                            .row.sponsor-row
                                .col-md-6
                                    img.sponsor-img(src="./img/sponsors/sl_logo.png")
                                    p
                                        | <b>Scott Logic</b> is a software consultancy company headquartered in the UK. Today, they
                                        | employ over 190 of the best people in the industry.
                                        | <a href="http://www.scottlogic.com">http://www.scottlogic.com</a>


    #sponsor-us-msg.container
        p Interested in sponsoring us? #[a(href="/contact") Get in touch].