//- Created by Soumya on 01-09-2016

extends templates/base.pug

block title
    title The Team - DUCompSoc

block head
    h1 The Team
    p Have a look at the students who help keep the society in shape.

block body
    div.row
        div.col-md-3
            h2 The President
            p description
        div.col-md-3
            h2 The Secretary
            p description
        div.col-md-3
            h2 The Treasurer
            p description
        div.col-md-3
            h2 The Web Officer
            p description
