//- Created by Soumya on 01-09-2016

extends templates/standard.pug

block head
    title The Team - DUCompSoc

block title
    h1 The Team
    p Have a look at the students who help keep the society in shape.

block content
    div.row
        div.col-md-3
            h2 The President
            p Alistair Madden manages everything and ensures that Compsoc runs smoothly.
        div.col-md-3
            h2 The Secretary
            p Mitchel Starkie takes care of all the sponsors, contracts and paperwork etc.
        div.col-md-3
            h2 The Treasurer
            p Sara Chen looks after the financial matters of Compsoc.
        div.col-md-3
            h2 The Web Officer
            p Soumya Singh manages the website, the regular updates and the technical side of the society.
