//- Created by Soumya on 01-09-2016

extends templates/standard.pug

block head
    title The Team - DUCompSoc

block title
    h1 The Team
    p Have a look at the students who help keep the society in shape.

block content
    div.row
        h2 The Exec
        div.col-md-3
            h2 The President
            img(src="./img/alistair.jpg" width=245 height=245)
            p
            p Alistair Madden manages everything and ensures that Compsoc runs smoothly.
        div.col-md-3
            h2 The Secretary
            img(src="./img/mitchell.png" width=245 height=245)
            p
            p Mitchel Starkie takes care of all the sponsors, contracts and paperwork etc.
        div.col-md-3
            h2 The Treasurer
            img(src="./img/sara.jpg" width=245 height=245)
            p
            p Sara Chen looks after the financial matters of Compsoc.
        div.col-md-3
            h2 The Web Officer
            img(src="./img/soumya.jpg" width=245 height=245)
            p
            p Soumya Singh manages the website, the regular updates and the technical side of the society.
            
    div.row
        h2 Contributors
        div.col-md-12
            h2 Design and Assets
            p
            p Molly Watkins designed our lovely banner and the society logo.
            br
            br
