extends layouts/banner-content.pug
include ./pageBanner.pug

block append head
  title The Team - DUCompSoc
  link(href="/team.css" rel="stylesheet")
  link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous")

block title
  +pageBanner('The Team', 'Meet the students shaping the society')

block content
  .container
    .row
      p.large-text#exec-description
        | The Executive Officers of CompSoc exist to manage and run the society. They are passionate about teaching,
        | putting on events for the society and ensuring it is a fun place for all who are enthused about technology.

    .row
      .panel-group
        .panel.panel-default.panel-default-cards
          .panel-heading.panel-heading-cards
            h3
              a(data-toggle="collapse" href="#ex89") 2018/19
          #ex89.panel-collapse.collapse.in(aria-expanded="true")
            .panel-body.panel-body-cards
                .row
                  .col-md-6
                    .panel.panel-info
                      .panel-heading
                        h3 President<br>Robbie Jakob-Whitworth
                      #president-description
                        .row
                          .col-md-9
                            p.description
                              | In charge of overseeing everything in the society.
                          .col-md-3.no-padding
                            img(src="./img/team/Robbie Jakob-Whitworth.jpg").exec-photo
                  .col-md-6
                    .panel.panel-info
                      .panel-heading
                        h3 Treasurer<br>Jessica Ng
                      #president-description
                        .row
                          .col-md-9
                            p.description
                              | Manages CompSoc's finances.
                          .col-md-3.no-padding
                            img(src="./img/team/placeholder.png").exec-photo

                .row
                  .col-md-6
                    .panel.panel-info
                      .panel-heading
                        h3 Secretary<br>Vivek Mehta
                      #president-description
                        .row
                          .col-md-9
                            p.description
                              | Responsible for working with sponsors and other organisations to ensure CompSoc runs smoothly, handling
                              | contracts and paperwork.
                          .col-md-3.no-padding
                            img(src="./img/team/placeholder.png").exec-photo
                  .col-md-6
                    .panel.panel-info
                      .panel-heading
                        h3 Education Officer<br>Mitchel Starkie
                      #president-description
                        .row
                          .col-md-9
                            p.description
                              | In charge of educating both society members and/or those interested in programming but with little technical experience.
                          .col-md-3.no-padding
                            img(src="./img/team/placeholder.png").exec-photo
                .row
                  .col-md-6
                    .panel.panel-info
                      .panel-heading
                        h3 Publicity Officer<br>Kat Strachan
                      #president-description
                        .row
                          .col-md-9
                            p.description
                              | In charge of the website content, social media, the mailing list, and promoting the society around the university.
                          .col-md-3.no-padding
                            img(src="./img/team/placeholder.png").exec-photo
                  .col-md-6
                    .panel.panel-info
                      .panel-heading
                        h3 Technical Web Officer<br>Soumya Singh
                      #president-description
                        .row
                          .col-md-9
                            p.description
                              | Works with the Publicity Officer to manage the technical side of the website.
                          .col-md-3.no-padding
                            img(src="./img/team/placeholder.png").exec-photo
                .row
                  .col-md-6
                    .panel.panel-info
                      .panel-heading
                        h3 Events Officer<br>Karl Southern
                      #president-description
                        .row
                          .col-md-9
                            p.description
                              | Works with sponsors and guest speakers to organise talks and workshops.
                          .col-md-3.no-padding
                            img(src="./img/team/placeholder.png").exec-photo
                  .col-md-6
                    .panel.panel-info
                      .panel-heading
                        h3 Officers without Portfolio<br>Dmytro Drobisher and Henrike Gbinigie
                      #president-description
                        .row
                          .col-md-9
                            p.description
                              | General helping hands for all parts of the society.
                          .col-md-3.no-padding
                            img(src="./img/team/placeholder.png").exec-photo
      .panel-group
        .panel.panel-default
          .panel-heading
            h3
              a(data-toggle="collapse" href="#ex78") 2017/18
          #ex78.panel-collapse.collapse
            .panel-body
              .row
                .col-md-1
                .col-md-2
                  h3 President
                  img(src="./img/team/Robbie Jakob-Whitworth.jpg").exec-photo
                  h3 Robbie Jakob-Whitworth
                .col-md-2
                  h3 Secretary
                  img(src="./img/team/Vivek Mehta.png").exec-photo
                  h3 Vivek Mehta
                .col-md-2
                  h3 Treasurer
                  img(src="./img/team/Tom O'Leary.jpg").exec-photo
                  h3 Tom O'Leary
                .col-md-2
                  h3 Web Officer
                  img(src="./img/team/soumya2.png").exec-photo
                  h3 Soumya Singh
                .col-md-2
                  h3 Social Sec
                  img(src="./img/team/ryota.png").exec-photo
                  h3 Ryota Sakai
                .col-md-1

      .panel-group
        .panel.panel-default
          .panel-heading
            h3
              a(data-toggle="collapse" href="#ex67") 2016/17
          #ex67.panel-collapse.collapse
            .panel-body
              .col-md-3
                h3 President
                img(src="./img/team/Alistair Madden.png").exec-photo
                h3 Alistair Madden
              .col-md-3
                h3 Secretary
                img(src="./img/team/placeholder.png").exec-photo
                h3 Mitchel Starkie
              .col-md-3
                h3 Treasurer
                img(src="./img/team/Sara Chen.png").exec-photo
                h3 Sara Chen
              .col-md-3
                h3 Web Officer
                img(src="./img/team/Soumya Singh.jpg").exec-photo
                h3 Soumya Singh

      .panel-group
        .panel.panel-default
          .panel-heading
            h3
              a(data-toggle="collapse" href="#ex56") 2015/16
          #ex56.panel-collapse.collapse
            .panel-body
                .col-md-2
                  h3 President
                  img(src="./img/team/Alistair Madden.png").exec-photo
                  h3 Alistair Madden
                .col-md-2
                  h3 Secretary
                  img(src="./img/team/placeholder.png").exec-photo
                  h3 Ersil Jabbar
                .col-md-2
                  h3 Treasurer
                  img(src="./img/team/placeholder.png").exec-photo
                  h3 Raffe-ul Islam
                .col-md-2
                  h3 Publicity
                  img(src="./img/team/placeholder.png").exec-photo
                  h3 Alan Go
                .col-md-2
                  h3 Web Officer
                  img(src="./img/team/placeholder.png").exec-photo
                  h3 Ram Gupta
                .col-md-2
                  h3 Librarian
                  img(src="./img/team/placeholder.png").exec-photo
                  h3 Gabor Veres

    .row
      h2 Contributors
      .col-md-12
        h3 Design and Assets
        p <b>Molly Watkins</b> designed our lovely homepage banner and the society logo.
