doctype html
html(lang="en")
    head
        block head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        //- Bootstrap
        link(href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet")
        link(href="/font-awesome/css/font-awesome.min.css" rel="stylesheet")
        link(href="/indexStyle.css" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Jura:400,600|Raleway:400,600" rel="stylesheet")
    body
        block nav
        block content
        block footer
            .footer
                div
                    p &copy; 2016-#{currentYear} #[a(href="https://www.compsoc.tech/") Durham University Computing Society] <br /> <span style="font-size:1rem">Durham University Computing Society is a student group affiliated with #[a(href="https://durhamsu.com") Durham Students' Union], which is registered in England as a company limited by guarantee (07689815) and a charity (1145400). Durham Students' Union's registered office is Dunelm House, New Elvet, Durham, DH1 3AN.</span>
        block scripts
