/*#up-info {*/
    /*text-align: center;*/

/*}*/

p {
    font-size: medium;
}

p.image {
    text-align:center;
}

#dh-intro {
    column-width: 350px;
}

#dh-intro .image img {
    max-height: 350px;
}
