img {
    width: 100%;
    height: auto;
}

.col-md-6 {
    margin-top: 2.5rem;
}

.col-md-6 .row:last-child {
    padding-bottom: 0;
}

.col-md-6 .row, .col-md-6 .information {
    padding-bottom: 2rem;
    margin-bottom: 0;
}

.btn {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.collapse > p, .collapsing > p {
    margin-top: 1rem;
}

h2:first-child {
    margin-top: 0;
}

p:last-child {
    margin-bottom: 0;
}

#sponsor-us-msg {
    text-align: center;
    padding-top: 2rem;
}

.sign-up-link {
    padding: 0;
    border: 0;
}

img.loading {
    width: 106px;
    height: 106px;
}

.row.loading-gif {
    text-align: center;
}

.hidden {
    display: none;
}

.event-date {
    text-align: center;
    font-weight: bold;
    padding: 4px 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    margin: 0;
}

#upcoming_events .event-date {
    background: #307798;
    color: #f0f0f0;
    font-size: 28px;
}

#past_events .event-date {
    background: #636363;
    color: #dfdfdf;
    font-size: 16px;
}

p.stay-tuned-text {
    font-weight: bold;
    text-align: center;
    display: none;
}