/* Don't show navbar over typeform */
.navbar {
    z-index: 1 !important;
}

#main-info {
    margin-bottom: 0;
}

#main-title {
    margin-top: 10px;
}

.quickLinks {
    padding: 2rem 2rem;
}

/* Homepage Banner */
@media (max-width: 500px) {
    .mobile-banner {
        display: block;
    }
    .desktop-banner {
        display: none;
    }
}

@media (min-width: 501px) {
    .mobile-banner {
        display: none;
    }
    .desktop-banner {
        display: block;
        max-height: 300px;
    }
}

@media (min-width: 2561px) {
    .mobile-banner {
        display: none;
    }
    .desktop-banner {
        display: block;
    }
}

/* HiredGrad Hacks */
#hiredGradSignUpModal {
    overflow-y: scroll !important;
}

.iframe {
    height: 790px !important;
    max-width: 600px !important;
    display: block !important;
}

@media (max-width: 524px) {
    .iframe {
        max-height: 680px !important;
    }
}
