/* Don't show navbar over typeform */
.navbar {
    z-index: 1 !important;
}

.main-info-panel {
    margin-bottom: 0 !important;
}

.main-info-panel-body {
    text-align: center;
}

#main-title {
    margin-top: 10px;
}

/* Should probably look at reducing the number of !important statements */
.typeformButton {
    text-decoration: none;
    font-family:  Jura, sans-serif !important;
    font-size: 20px !important;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 700 !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.5 !important;
    margin-bottom: 0.2rem !important;
    margin-top: 0.5rem !important;
    padding: 20px 60px;
}

button.sign-up-link {
    padding: 20px 60px !important;
    font-size: 40px !important;
    border: 4px solid #2f712f !important;
    box-shadow: 0 0 10px 4px rgba(26, 60, 29, 0.4) !important;
    margin: 10px !important;
}

.quickLinks {
    padding: 2rem 2rem;
}

/* Homepage Banner */
@media (max-width: 500px) {
    .mobile-banner {
        display: block;
    }
    .desktop-banner {
        display: none;
    }
}

@media (min-width: 501px) {
    .mobile-banner {
        display: none;
    }
    .desktop-banner {
        display: block;
        max-height: 300px;
    }
}

@media (min-width: 2561px) {
    .mobile-banner {
        display: none;
    }
    .desktop-banner {
        display: block;
    }
}
