#main-info {
    margin-bottom: 0;
}

#main-title {
    margin-top: 10px;
}

.quickLinks {
    padding: 2rem 2rem;
}

/* HiredGrad Hacks */
#hiredGradSignUpModal {
    overflow-y: scroll !important;
}

.iframe {
    height: 790px !important;
    max-width: 600px !important;
    display: block !important;
}

@media (max-width: 524px) {
    .iframe {
        max-height: 680px !important;
    }
}