body {
    font-family: 'Raleway', sans-serif;
    background-color: #eeeeee;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Jura', sans-serif;
}

object {
    width: 100%;
}

.navbar-brand {
    font-family: 'Jura', sans-serif;
    font-weight: 600;
    padding: 15px .5em;
}

.navbar-toggle {
    margin-right: .5em;
}

.navbar-header > button {
    padding-top: 6px;
    padding-bottom: 6px;
}

.navbar.navbar-inverse.navbar-fixed-top {
     position: relative;
     margin-bottom: 0;
     border-bottom-width: 0;
}

.nav.navbar-nav {
    font-weight: 600;
}

.banner-container {
    height: auto;
    line-height: 0;
}

.banner-container > object {
    height: auto;
}

.fa {
    color: #95c5cd;
}

.wrapper {
    background-color: #eee;
}

.panel {
    border-radius: 0;
}

.panel-body > h2, .panel-body > h3 {
    text-align: center;
    color: #333;
}

.banner-jumbotron {
    margin-bottom: 0;
    padding-top: 0;
    display: inline-block;
    width: 100%;
    padding-bottom: 0;
}

.footer {
    background-color: #333;
    display: flex;
    min-height: 5em;
    color: #9d9d9d;
    text-align:center;
    height: auto;
}

.footer div {
    max-width: 70%;
}

.footer p {
    text-align: center;
    margin-bottom: 0;
}

.footer a {
    color: #d8d8d8;
}

.form-control {
    margin-bottom: 0.5em;
}

/* http://stackoverflow.com/questions/42294/how-do-you-get-the-footer-to-stay-at-the-bottom-of-a-web-page?noredirect=1&lq=1
   (second answer)
*/
* {
    margin: auto;
}

html, body {
    height: 100%;
}

/* Height of navbar minus height of footer */
.wrapper {
    min-height: calc(100vh - 50px - 5em);
}

.hiredGradButton {
    text-align: center;
}

.row {
    width: 100%;
    margin: 0;
}

.fa-facebook-official:hover {
  color: #3b5998;
}

.fa-linkedin-square:hover {
  color: #0077b5;
}

.fa-twitter:hover {
  color: #1da1f2;
}

.fa-slack:hover {
  color: grey;
}

.information {
    font-size: medium !important;
}

hr {
    border-top: 1px solid #dcdcdc;
}

.container img {
    max-width: 100%;
}

.typeformButton a {
    border-color: #398439;
    transition: all 0.15s;
}
