.banner-left {
    display: none;
}

.banner-right {
    display: none;
}

.page-title-jumbotron {
    padding: 1rem;
}

.page-title-jumbotron > h2 {
    margin-bottom: 2rem;
    margin-top: 0;
}

.page-title-jumbotron > h1 {
    margin-top: 0;
}

.link-icons {
    height: 40px;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: space-between;
    margin: 0 0 1rem 0;
}

.link-icons > object {
    height: 100%;
    width: auto;
}

@media (min-width: 632px) {
    .link-icons {
        display: none;
    }

    .page-title-row {
        display: flex;
        height: 200px;
    }

    .page-title-jumbotron {
        flex: 0 0 auto;
        max-width: 285px;
        margin-left: 3rem;
        margin-left: 4rem;
        margin-right: 3rem;
        padding: 0;
    }

    .page-title-jumbotron > h1 {
        margin-top: 0;
        font-size: 63px;
    }

    .page-title-jumbotron > h2 {
        margin-bottom: 0.5rem;
        font-size: 30px;
    }

    .banner-left {
        display: block;
        flex: 1 1 20%;
        overflow: hidden;
        height: 100%;
    }

    .banner-right {
        display: block;
        flex: 1 1 20%;
        overflow: hidden;
        height: 100%;
    }

    .banner-left > object {
        width: auto;
        float: right;
        height: 100%;
    }

    .banner-right > object {
        width: auto;
        height: 100%;
    }
}

@media (min-width:992px) {
    .banner-left {
        flex: 1 1 auto;
        overflow: hidden;
        height: 100%;
    }

    .banner-right {
        flex: 1 1 auto;
        overflow: hidden;
        height: 100%;
    }
    .page-title-jumbotron {
        flex: 0 0 auto;
        max-width: 285px;
        margin-left: 3rem;
        margin-left: 4rem;
        margin-right: 3rem;
    }
}