/*  This Stylesheet describes the stylings of the sections of text at the
    bottom of the About and Index (Homepage) pages. The headings are The Team,
    Events, Our Sponsors and Say Hi To Us!.
    This was necessary to have all the buttons aligning vertically.
 */

/*
    Display the buttons for viewing widescreen (when everything is horizontal)
 */
@media (min-width: 992px) {
    .homepage-btn-horizontal {
        display: inline-block !important;
    }
    .homepage-btn-vertical {
        display: none !important;
    }
}

/*
    Display the buttons for viewing portrait (eg on mobile when things are
    vertical)
 */
@media (max-width: 991px) {
    .homepage-btn-horizontal {
        display: none !important;
    }
    .homepage-btn-vertical {
        display: inline-block !important;
    }
}

/*
    Add a margin to separate quick links from the footer as necessary
 */
.btn-container {
    margin-bottom: 20px !important;
}
