@media (max-width: 991px) {
    .sponsor-row {
        margin-bottom: 0 !important;
    }
}

.sponsor-img {
    max-width: 100%;
    max-height: 50px;
    vertical-align: top;
    margin: auto;
    margin-bottom: 1em;
    display: block;
}

div.sponsor-row {
    margin-bottom: 3rem;
}

.panel-heading > h3 {
    text-align: center;
    margin: auto;
}

.col-md-6 > p {
    font-size: medium;
    text-align: justify;
    margin-bottom: .75rem;
}

.panel-group:last-child {
    margin-bottom: 0;
}

p {
  text-align: justify;
}

.panel-body {
  padding: 3rem !important;
}

#sponsor-us-msg {
    margin-top: 2rem;
    text-align:center;
}

#sponsor-us-msg p {
    text-align:center;
}