@import "../../variables.scss";

.team {
	margin-bottom: 64px;

	> .container {
		> p,
		.grid,
		.prev-link {
			padding-left: 64px;

			@media screen and (max-width: $breakpoint-small) {
				padding-left: 48px;
			}
		}

		.grid.row {
			align-items: stretch;

			@media screen and (max-width: $breakpoint-medium) {
				& {
					flex-direction: column;

					> div {
						width: 100% !important;
					}
				}
			}
		}
	}
}
