@import "../../variables.scss";

.home {
	.feature {
		display: flex;
		min-height: calc(100vh - 320px);
		background-size: cover;
		background-position: center;
		background-color: #ccc;
		background-attachment: fixed;
		flex-direction: column;

		@media screen and (max-width: $breakpoint-small) {
			background-attachment: scroll; /* mobiles generally dislike fixed */
		}

		.info {
			display: inline-flex;
			flex-direction: column;
			align-items: stretch;

			width: 90%;
			font-weight: bold;
			padding: 256px 64px 32px 0px;

			h3 {
				display: contents;
				font-size: 48px;
				margin: 0px;
				overflow: visible;
			}

			> span,
			h3 > span {
				background-color: #fff;
				margin: 0px;
				padding: 12px 18px 12px 64px;
				box-decoration-break: clone; // todo: edge support

				> span {
					position: relative;
				}
			}

			h3 > span {
				padding-bottom: 0;
				padding-right: 64px;
			}
		}

		.cta {
			padding-bottom: 64px;
		}
	}

	.comment {
		margin: 64px 0px;

		.row:before,
		&:after {
			display: block;
			font-family: Source Code Pro, "Courier New", Courier, monospace;
			font-size: 24px;
		}

		.row {
			&:before {
				width: 64px;
				content: "/*";
				margin-top: -6px;
			}
		}

		&:after {
			content: "*/";
			text-align: right;
		}
	}

	.events-header {
		margin-bottom: 64px;

		.events-title {
			width: 420px;
			overflow: hidden;

			h2 {
				margin: 0px;
			}
		}

		.subscribe-link {
			font-family: Source Code Pro, "Courier New", Courier, monospace;
			font-weight: bold;
			text-decoration: none;
			padding: 6px 0px;
			color: #666;
			cursor: pointer;

			&:hover {
				border-bottom: dashed 1px #666;
			}

			> span {
				margin-left: 6px;
			}
		}
	}

	@media screen and (max-width: $breakpoint-small) {
		.events-header .subscribe-link {
			display: none;
		}

		.feature .info {
			h3 {
				font-size: 32px;

				> span {
					padding-right: 12px;
				}
			}

			> span,
			h3 > span {
				padding-left: 48px;
			}
		}

		.comment .row:before {
			width: 48px;
		}
	}
}
